*, :after, :before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}

h3, h4 {
    margin: 0;
}

/* --- */
button {
    background: white;
    border: 1px solid #cbd5e1;
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

/* --- */
main {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* --- */
nav {
    background: #f1f5f9;
    border-bottom: 1px solid #cbd5e1;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#yt-dlp-status {
    height: 10px;
    width: 10px;
    border-radius: 10rem;
    background-color: orange;
}

/* --- */
.dashboard {
    flex: 1;
    margin: 0;
    display: flex;
}

#audio-list {
    flex: 1;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.item {
    width: 70%;
    text-align: center;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;

    &:hover, &.active {
        background: #f1f5f9;
        border-color: #cbd5e1;
        border-radius: 0.5rem;
    }
}

/* --- */
#download-container {
    /* TODO: Make this responsive */
    width: 50%;
    border-left: 1px solid #cbd5e1;

    &.hidden {
        display: none;
    }

    h3 {
        text-align: center;
        border-bottom: 1px solid #cbd5e1;
        padding: 0.75rem 0;
    }

    ul {
        list-style: none;
        text-align: center;
        padding: 0 0.25rem;
    }

    li {
        font-weight: bold;

        &.complete { color: green; }
        &.progress { color: orange; }
        &.failed { color: red; }
    }
}

/* --- */
footer {
    background: #f1f5f9;
    border-top: 1px solid #cbd5e1;
    padding: 1rem;
}

audio {
    width: 100%;
    margin-top: 1rem;
}
